.container {
  overflow: hidden;
}

.image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: auto;
  transition: transform 0.5s;
}

.image-container {
  width: 100vw;
  float: left;
}

img {
  width: 1000px;
  height: 500px;
}