body {
  background-color: #003350;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.material-icons {
  font-size: 10rem;
}

.text-effect {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

.text-effect::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -7px;
  background-color: white;
  width: 4px;
  height: 100%;
}

.text-effect.active::after {
  display: none;
}

.text-link {
  font-size: 1.5rem;
}

.wrap a {
  color: white;
}

.wrap a:hover {
  text-decoration: underline;
}