* {
  box-sizing: border-box;
  color: #121212;
  font-size: 14px;
}

body {
  margin: 0;
}

ul, li {
  list-style-type: none;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #afafaf;
}